<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>NSLocationWhenInUseUsageDescription</key>
        <string>允许位置服务，以便获取附近商家详细信息</string>
        <key>NSLocationUsageDescription</key>
        <string>允许位置服务，以便获取附近商家详细信息</string>
    </dict>
</plist>